// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$pink: #ED4557;
$steel-grey: #1D1D1D;
$off-white: #F6E8EA;
$light-blue: #A0D4FF;


